{% extends "layout.html" %}

{% block title %}
Chirag Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Chirags Django project</h1>

<a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">Create A Tweet</a>
<div class="container row gap-3" sty>
    {% for tweet in tweets %}
    <div class="card" style="width:18rem;">
        <br>
        {% if tweet.photo %}
            <img src="{{ tweet.photo.url }}" alt="Tweet Image">
        {% else %}
            <p>No image available</p>
        {% endif %}<br>
        {% if tweet.video %}
        <video controls class="card-img-top">
            <source src="{{ tweet.video.url }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}