{% extends "layout.html" %}

{% block title %}
Chirag Tweet
{% endblock %}

{% block content %}
<h1 class="text-center mt-4">Welcome to Chirags Django project</h1>

<h3 class="text-center mt-4">
    {% if form.instance.pk %}
     Edit Tweet 
     {% else %} 
     Create Tweet 
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning mt-4">Submit</button>
        <a href="{% url 'tweet_list' %}" class="btn btn-primary mt-4">Back to Tweet List</a>
    </form>
</h3>
{% endblock %}